<div class="main-page">
<h1>Welcome to the Main Page!</h1>
<h2>Here you can get the most recent updates and information for anime</h2>
<div class="buttons">
<button (click)="setFilter('all')" >Get Your Whole Anime List</button>
<button (click)="setFilter('completed')">Get Completed Anime</button>
<button (click)="setFilter('dropped')">Get Dropped Anime</button>
<button (click)="setFilter('watching')">Get Watching Anime</button>
<button (click)="setFilter('on_hold')">Get On-Hold Anime</button>
</div>

<h1 class="ListTitle">Your List</h1>
<div class="anime-list">
@if (animeList().length !== 0){
@for (list of animeList(); track list.node.id){
    <div class="AnimeCard"><img [src]="list.node.main_picture.medium" alt="{{list.node.title}}"/>{{list.node.title}} <div>Status: {{list.list_status.status}} </div> <!-- still make so it removes the _ when there are spaces -->
    @if (list.list_status.score !== 0) 
    {
    <div>Score: {{list.list_status.score}}</div>
    }
<!--     @else
    {
    <div>Score: N/A</div>
    } -->
</div>
    }
}@else
{
    <div>Just a vacuum. There is nothing to see here</div>
}
</div> 
</div>

