<div class="main-page">
<div class="text">
<h1>Welcome!</h1>
<h2>Here you can get the most recent updates and information for anime</h2>
</div>
<h1 class="ListTitle">Your Anime List</h1>
<div class="menu">
<button (click)="setFilter('all')" >Get Your Whole Anime List</button>
<button (click)="setFilter('completed')">Get Completed</button>
<button (click)="setFilter('dropped')">Get Dropped</button>
<button (click)="setFilter('watching')">Get Watching</button>
<button (click)="setFilter('on_hold')">Get On-Hold</button>
<button (click)="setFilter('plan_to_watch')">Get Plan to Watch</button>
<button (click)="logOut()">Log Out</button>
</div>
<div class="anime-list">
@if (animeList().length !== 0){
     @if (isModalVisible){
    <app-modal (close)="hideModal()"></app-modal>
    }
@for (list of animeList(); track list.node.id){
    <div class="AnimeCard" (click)="getInfo(list.node.id)" (click)="showModal()"><img [src]="list.node.main_picture.medium"/><div class="AnimeInfo"><p>{{list.node.title}}</p> <p>Status:
        @if (list.list_status.status == "plan_to_watch"){
            plan to watch
        }
        @else if (list.list_status.status == "on_hold") {
            on hold
        }
        @else 
        {
         {{list.list_status.status}}
        }
        </p>
    @if (list.list_status.score !== 0) 
    {
    <div>Score: {{list.list_status.score}}</div>
    }
     @else
    {
    <div>Score: N/A</div>
    }
    </div>
</div>
    }
}@else
{
    <div>Just a vacuum. There is nothing to see here</div>
}
</div> 
</div>

