.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.buttons button{
    font-weight: bold;
    background-color: #019be2;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.ListTitle {
    margin-bottom: 15px;

}
.anime-list {
    display: flex; /* or use grid */
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; /* Align cards from top-left */
}
.AnimeCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 225px;;
    background-color: #2c2c2c;
}