.main-page{
    font-family: sans-serif;
}

.menu , .infoBtn {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
    /* border: 3px solid #a0a0a0; */
    padding: 10px;
    border-radius: 8px;
}
.menu button, .infoBtn{
   padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #545752;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}
.menu button:hover , .infoBtn:hover {
 background-color: #7c7c7c;
  box-shadow: 0px 15px 20px rgba(92, 92, 92, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.modal-content button:active{
  transform: translateY(-1px);
}
.ListTitle {
    margin-bottom: 15px;
}
/* .text {

} */
.anime-list {
    border: 3px solid #a0a0a0;
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; 
}
@media (min-width: 600px) {
    .infoBtn{
        display: none;
    }
}

.AnimeCard {
    transition: 0.3s ease, box-shadow 0.2s ease;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 231px;
    background-color: #393b38;
    transition: 0.2s;
}
.main-page.modal-open .AnimeCard {
  pointer-events: none;
}
.AnimeCard:hover {
    transform: translateY(-0.5em);
    box-shadow: #ffffff 0px 0px 10px;
    
}
.main-page.modal-open .AnimeCard:hover{
    transform: none;
    box-shadow: none;
}
.AnimeCard img {
    border-radius: 8px;
    border: 2px solid ;
    border-color: #ffffff;
}
.AnimeInfo {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
.AnimeInfo p {
    margin: 5px;
}