.menu , .infoBtn {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 40px;
    margin-bottom: 10px;
    /* border: 3px solid #a0a0a0; */
    padding: 10px;
    border-radius: 8px;
}
.menu button, .infoBtn{
    transition: 0.2s;
    font-weight: bold;
    background-color: #545752;
    color: white;
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border:3px #393b38;
    box-shadow: #ffffff 0px 0px 5px;
}
.menu button:hover , .infoBtn:hover {
    border: 0px solid  #ffffff;
    transition: 0.2s;
    background-color: #97aab9;
    box-shadow: #000000 0px 0px 10px;
}
.ListTitle {
    margin-bottom: 15px;
}
/* .text {

} */
.anime-list {
    border: 3px solid #a0a0a0;
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; 
}
.AnimeCard {
    transition: 0.3s;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 231px;
    background-color: #393b38;
}
.AnimeCard:hover {
    box-shadow: #ffffff 0px 0px 10px;
    transition: 0.3s;
}
.AnimeCard img {
    border-radius: 8px;
    border: 2px solid ;
    border-color: #ffffff;
}
.AnimeInfo {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
.AnimeInfo p {
    margin: 5px;
}