.popup-content button{
    transition: 0.2s;
    font-weight: bold;
    background-color: #545752;
    color: white;
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
    border:3px #393b38;
    box-shadow: #ffffff 0px 0px 5px;
}
.popup-content button:hover{
    border: 0px solid  #ffffff;
    transition: 0.2s;
    background-color: #97aab9;
    box-shadow: #000000 0px 0px 10px;
}