.modal {
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
body.blocked {
  overflow: hidden;
}
.modal-content {
  background-color: #393b38;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  max-width: 1000px;
  max-height: 80%;
overflow-y: auto;
   border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.modal-content p{
    margin: 15px;
    line-height: 1.5;
}
.modal-content button{
    transition: 0.2s;
    font-weight: bold;
    background-color: #545752;
    color: white;
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
    border:3px #393b38;
    box-shadow: #ffffff 0px 0px 5px;
}
.modal-content button:hover{
    border: 0px solid  #ffffff;
    transition: 0.2s;
    background-color: #97aab9;
    box-shadow: #000000 0px 0px 10px;
}
.AnimeCard {
    border-radius: 8px;
    border: 2px solid ;
    border-color: #ffffff;
}
.AnimeCardSmall {
    margin: 5px;
    max-height: 225px;
    border-radius: 8px;
    border: 2px solid ;
    border-color: #ffffff;
}
